@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-filter {
  width: 200px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.title-filter {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
.input-filter {
  width: 15px;
  cursor: pointer;
  outline: none;
}

.label-filter {
  margin-left: 7px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

.min-max-input {
  width: 70px;
  outline: none;
  border: 1px solid lightgray;
  padding: 3px 10px;
}

.item-block-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
